---
title: "Tags"
layout: "base.njk"
---

<h1>Tags</h1>

<ul class="tag-list">
  {%- for tag in collections.tagList %}
    <li>
      <a class="tag-button" href="/tags/{{ tag }}/">{{ tag }}</a>
    </li>
  {%- endfor %}
</ul>
