---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
permalink: /tags/{{ tag }}/
layout: "base.njk"
---
{% from "macros.njk" import postListItem %}

<h1>Tagged with “{{ tag }}”</h1>

{%- for post in collections[tag] | reverse %}
  {{ postListItem(post) }}
{%- endfor %}