---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: "base.njk"
eleventyComputed:
  title: "タグ「{{ tag }}」の記事"
  description: "タグ「{{ tag }}」が付いたブログ記事の一覧です。"
---
{% from "macros.njk" import postListItem %}

<h1>"{{ tag }}"</h1>

{%- for post in collections[tag] | reverse %}
  {{ postListItem(post) }}
{%- endfor %}
