<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>
      {%- if title %}
        {{ title }}
      {%- else %}
        {{ metadata.title }}
      {%- endif %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="
      {%- if description %}
        {{ description }}
      {%- else %}
        {{ metadata.description }}
      {%- endif %}"
    />
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{%- if title %}{{ title }}{%- else %}{{ metadata.title }}{%- endif %}">
    <meta property="og:description" content="{%- if description %}{{ description }}{%- else %}{{ metadata.description }}{%- endif %}">
    {%- if image.url %}
    <meta property="og:image" content="{{ metadata.url }}{{ image.url }}">
      {%- if image.alt %}
    <meta property="og:image:alt" content="{{ image.alt }}">
      {%- endif %}
    {%- endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@700&family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.1.1/tooltips.min.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
  </head>
  <body>
    <div class="page-wrapper">
        {% include "header.njk" %}

        <main class="main-content">
            {{ content | safe }}
            {% initClipboardJS %}
        </main>
    </div>
  </body>
</html>