<header class="container">
  <nav>
    <ul>
      <li><span style="display: inline-block; width: 24px; height: 24px; vertical-align: middle; margin-right: 8px; background-image: url(/favicon.ico); background-size: contain;"></span><strong>たまごすしのホームページ</strong></li>
    </ul>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs/">Blogs</a></li>
      <li><a href="/apps/">Apps</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><button id="theme-switcher"></button></li>
    </ul>
  </nav>
</header>