<header class="main-header">
    <nav class="main-nav">
        <div class="logo">
            <span style="display: inline-block; width: 24px; height: 24px; vertical-align: middle; margin-right: 8px; background-image: url(/favicon.ico); background-size: contain;"></span>たまごすしのホームページ
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/">Blogs</a></li>
            <li><a href="/apps/">Apps</a></li>
            <li><a href="/tags/">Tags</a></li>
        </ul>
    </nav>
</header>