---
layout: base.njk
---

<article>
  <h1>{{ title }}</h1>
  <p><em>{{ description }}</em></p>
  <time datetime="{{ page.date | dateFormat }}">
    {{ page.date | dateFormat }}
  </time>
  {{ content | safe }}
</article>