<style>
  .post-list-item {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  .post-list-item .post-content {
    flex: 1;
  }
  .post-list-item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;
  }
</style>