---
layout: base.njk
---
{% include "post-list-style.njk" %}
{% from "macros.njk" import postListItem %}

<main>
  <h1>ブログ一覧</h1>
  {%- for post in collections.blogs | reverse %}
    {{ postListItem(post) }}
  {%- endfor %}
</main>
