---
title: "アプリ一覧"
layout: base.njk
---

<h1>アプリ一覧</h1>
<ul>
  {%- for app in collections.apps %}
  <li>
    <a href="{{ app.url }}"><h3>{{ app.data.title or (app.url | replace("/apps/", "") | replace("/", "")) }}</h3></a>
    {% if app.data.description %}
      <p>{{ app.data.description }}</p>
    {% endif %}
  </li>
  {%- endfor %}
</ul>
