---
permalink: /styles/main.css
eleventyExcludeFromCollections: true
---
{% include "styles/variables.css" %}
{% include "styles/site-shell.css" %}
{% include "styles/home.css" %}
{% include "styles/content.css" %}
{% include "styles/posts.css" %}
{% include "styles/apps.css" %}
{% include "styles/tags.css" %}
{% include "styles/motion.css" %}
{% include "styles/article-elements.css" %}
{% include "styles/responsive.css" %}
