---
layout: "base.njk"
---
webの勉強がてらに作ったので、UIやデザインがころころと変わります。<br>
今は<a href="https://www.11ty.dev">Eleventy</a>を試しています。<br><br>

2024年の冬コミ（C105）で、サークルMUHOとして参加しました。<br>
そのときに頒布した同人誌の電子版を<a href="https://muho.booth.pm/items/6511207">Booth</a>にて販売中です。<br>
内容としては、DiscordのBotをJavaScriptで作ろう、といったかんじです。まあタイトルどおりですね。<br>
